body {
    display: flex;
    flex-direction: column;
}

.container {
    padding: 2em;
    position: relative;
}
svg {
    max-width: 80vw;
    max-height: 80vh;
    transition: all 0.2s ease;
    position: relative;

    .cls-1 {
        position: absolute;
        stroke: white;
        stroke-width: 5px;
        stroke-miterlimit: 10;
        fill: #003a5d;
    }
}
#discipleship {
    background-color: #545454;
    display: flex;
        justify-content: center;
}
#values {
    background-color: #cecece;
}
#ehd {
    background-color: white;
    display: flex;
        justify-content: center;
}