@use './abstracts' as *;
@use 'sass:math' as *;

@keyframes dropIn {
    20% {
        opacity: 0;
        transform: translateY(-20%);
    }
    30%, 100% {
        opacity:1;
        transform: translateY(0);
    }
}
    #discipleship {
        svg {
            height:20em;
            width:20em;
            // animation: dropIn 4s ease-out;
            // animation-delay: calc(var(--order)* 200ms);
        .cls-1 {
            opacity:0;
            animation: dropIn 5s ease-out forwards;
            animation-delay: calc(var(--order)* 200ms);
        }
    }
}