#ehd {
    svg {
        width:50%;
    }

    .cls-1 {
        fill: url(#radial-gradient-2);
    }
    .cls-1,
    .cls-2,
    .cls-3 {
        mix-blend-mode: multiply;
    }
    .cls-4 {
        fill: url(#linear-gradient);
    }
    .cls-5 {
        fill: url(#New_Gradient_Swatch_1);
    }
    .cls-2 {
        fill: #595a5c;
        opacity: .5;
    }
    .cls-6 {
        fill: url(#linear-gradient-8);
    }
    .cls-7 {
        fill: url(#linear-gradient-9);
    }
    .cls-8 {
        fill: url(#linear-gradient-3);
    }
    .cls-9 {
        fill: url(#linear-gradient-4);
    }
    .cls-10 {
        fill: url(#linear-gradient-2);
    }

    .cls-11 {
        fill: url(#linear-gradient-6);
    }

    .cls-12 {
        fill: url(#linear-gradient-7);
    }
    .cls-13 {
        fill: url(#linear-gradient-5);
    }
    .cls-3 {
        fill: url(#radial-gradient);
    }
    .cls-14 {
        isolation: isolate;
    }
    .cls-15 {
        fill: url(#New_Gradient_Swatch_1-5);
    }
    .cls-16 {
        fill: url(#New_Gradient_Swatch_1-8);
    }
    .cls-17 {
        fill: url(#New_Gradient_Swatch_1-2);
    }
    .cls-18 {
        fill: url(#New_Gradient_Swatch_1-3);
    }
    .cls-19 {
        fill: url(#New_Gradient_Swatch_1-6);
    }
    .cls-20 {
        fill: url(#New_Gradient_Swatch_1-9);
    }
    .cls-21 {
        fill: url(#New_Gradient_Swatch_1-4);
    }
    .cls-22 {
        fill: url(#New_Gradient_Swatch_1-7);
    }
}